<%= render partial: "layouts/alerts" %>

<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
      <%= form_for @index_fund, :html => { :class => 'form-horizontal' } do |f| %>
        <fieldset>
          
          <div class="form-group">
            <label for="base_coin" class="col-lg-4 control-label">Base Coin</label>
            <div class="col-lg-8">
              <% unless @index_fund.id? %>
                <%= f.select(:base_coin_id , options_from_collection_for_select(@base_coins, :id, :full_display_name, @index_fund.base_coin_id), {:prompt=>'—'}, {:class=>'form-control'}) %>
              <% else %>
                <strong><input type="text" value="<%= @index_fund.base_coin.full_display_name %>" class="form-control" readonly="true"></input></strong>
              <% end %>
            </div>
          </div>
          
          <div class="form-group">
            <label for="name" class="col-lg-4 control-label">Name</label>
            <div class="col-lg-8">
              <%= f.text_field(:name, value: @index_fund.name, class: 'form-control') %>
            </div>
          </div>
          
          <div class="form-group">
            <label for="rebalance_period" class="col-lg-4 control-label">Rebalance Period</label>
            <div class="col-lg-8">
              <%= f.number_field(:rebalance_period, step: 1, min: 0, value: @index_fund.rebalance_period, class: 'form-control') %>
            </div>
          </div>
          
          <div class="form-group">
            <label for="rebalance_trigger_pct" class="col-lg-4 control-label">Rebalance Trigger</label>
            <div class="col-lg-8">
              <%= f.number_field(:rebalance_trigger_pct, step: 0.01, in: 0.00..100.00, min: 0, max: 100, value: @index_fund.rebalance_trigger_pct*100, class: 'form-control') %>
            </div>
          </div>
          
          <div class="form-group">
            <label for="active" class="col-lg-4 control-label">Active</label>
            <div class="col-lg-8">
              <%= f.select(:active, options_for_select( [['true', true], ['false', false]], @index_fund.active ), {}, {:class=>'form-control'}) %>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
              <%= link_to 'Cancel', index_funds_path, class: "btn btn-default"%>
              <%= submit_tag "Submit", {:class=>'btn btn-primary'} %>
            </div>
          </div>
          
        </fieldset>
      <% end %>
    </div>
  </div>
</div>