<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>Edit Fund</h1>
    </div>
  </div>
</div>

<%= render "form" %>

<br><br>

<h2>Allocations</h2>

<div class="row">
  <div class="col-lg-6">
    <%= link_to 'Create Allocation', index_fund_index_fund_coins_new_path(@index_fund), class: "btn btn-warning"%>
  </div>
</div>

<br>
<strong>Percent Total:</strong>&nbsp;&nbsp;
<%= number_to_percentage(@index_fund.allocation_pct_total * 100, precision: 2, format: "%n") %>%&nbsp;&nbsp;
<% if @index_fund.allocations_valid? %><i class="glyphicon glyphicon-ok" style="color: green;" ></i><% else %><i class="glyphicon glyphicon-remove" style="color: red;" ></i><% end %>
<br><br>

<% if @index_fund.index_fund_coins.any? %>
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Coin</th>
            <th>Percent</th>
            <th>Deposits</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @index_fund.index_fund_coins.sort_by{ |ifc| [-ifc.allocation_pct, ifc.coin_symbol] }.each do |index_fund_coin| %>
            <tr>
              <td><%= index_fund_coin.coin.symbol %></td>
              <td><%= number_to_percentage(index_fund_coin.allocation_pct * 100, precision: 2, format: "%n") %>%</td>
              <td><%= number_with_precision(index_fund_coin.index_fund_deposits.sum(:qty), precision: index_fund_coin.qty_precision) %></td>
              <td>
                <%= link_to 'Deposit', index_fund_coin_index_fund_deposits_new_path(index_fund_coin) %>
                &nbsp;
                <%= link_to edit_index_fund_coin_path(index_fund_coin) do %>Edit<% end %>
                &nbsp;
                <%= link_to 'Delete', index_fund_coin_path(index_fund_coin), { data: { confirm: 'Are you sure?' }, method: 'delete' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

