<!DOCTYPE html>
<html>
  <head>
    <title>TradingBot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'sorttable' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="container">
      <%= render partial: "layouts/header" %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
      </div>
    <% else %>
      <%= yield %>  
    <% end %>
  </body>
</html>
