<!DOCTYPE html>
<html>
  <head>
    <title>TradingBot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'datatables.min' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js'%>
	<%= javascript_include_tag 'datatables.min' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="container">
      <%= render partial: "layouts/header" %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
      </div>
    <% else %>
      <%= yield %>  
    <% end %>
  </body>
</html>
